<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAX6HBpku8ihmBwJ3FKwosaObSjNgpG-Yw</string>
	<key>GCM_SENDER_ID</key>
	<string>636416413312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterDevcampUi</string>
	<key>PROJECT_ID</key>
	<string>flutter-devcamp-ui-e2a7d</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-devcamp-ui-e2a7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636416413312:ios:58cc2e7d89a8175d73a065</string>
</dict>
</plist>